<app-menu></app-menu>
<div><b>Request</b></div>
<table class="table" style="width: 1400px">

    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>

        
    </tr>

    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency}}</td>
    </tr>    
 

</table>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'><b>{{title}} </b></span>
        <span *ngIf='isAdmin||request.status=="New"'><a routerLink='/line-items/create/{{request.id}}'>
                <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
        </span>
    </div>
</div>
<table class="table" style="width: 1400px">

    <tr>
        <th><a (click)="sortBy('id')">ID</a></th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Action</th>
        
    </tr>

   
    <tr *ngFor="let l of lines | sort:sortCriteria:sortOrder">
        <td>{{l.id}}</td>
        <td>{{l.product.name}}</td>
        <td>{{l.quantity}}</td>
        <td>{{l.product.price | currency}}</td>
        <td>{{l.lineTotal | currency}}</td>
        <td>
            <span *ngIf='isAdmin||request.status=="New"'><a routerLink='/line-items/edit/{{l.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a> |
            <img src='assets/delete.jpg' width='20' height='20' title='Delete' (click)='delete(l.id)'>
            </span>
        </td>
    </tr>    
 





</table>
<span *ngIf='isAdmin||request.status=="New"'><button (click)="review()" class="btn btn-sm btn-primary">Submit for Review</button> | </span>
 <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>

<div *ngIf='(lines < 1)'>
    <br>
        <table style="width: 1400px">
        <tr>
            <td style="background-color: orange" ><b>No Line Items Yet!</b></td>
        </tr> 
    </table> 
</div>